.App {
  font-family: 'Courier New', Courier, monospace;
}

.Body {
  font-size: 130%;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  /* border: 1px solid black; */
  border-radius: 35%;
  padding: 1%;
  margin: 0.25%;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}

.App-header {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 2px solid black;
  min-height: 12vh;
  height: 12.5vh;
  min-width: 100vw;
  font-size: 135%;
  vertical-align: middle;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-mode {
  background-color: black;
  filter: invert(100%);
}

.dark-mode-button {
  font-size: 100%;
  margin: 1%;
  border: 1px solid black;
  margin-left: 55%;
  width: 6%;
  border-radius: 35%;
}

.dark-mode-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.dark-mode-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
